* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { margin-top: 20px; margin-bottom: 20px; color: #606060; font-size: 16px; line-height: 26px; font-family: OpenSans-Regular, Arial, sans-serif, Verdana, Helvetica; }
img { vertical-align: middle; border: 0; }
.d-btn { display: inline-block; padding: 0 25px; height: 38px; line-height: 32px; color: #fe8e14; font-family: OpenSans-Semibold; font-size: 14px; text-align: center; cursor: pointer; border: solid 2px #fe8e14; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; }
.d-btn:link, .d-btn:visited { color: #fe8e14; }
.d-btn:hover { color: #ffae38; border: solid 2px #ffae38; }
.d-btn.bgBlue { border-color: #50a8e1; background: #50a8e1; color: #fff; }
.d-btn.bgBlue:hover { border-color: #61c2ec; background: #61c2ec; }
.clearfix:after { content: ''; display: block; clear: both; }
/*================================ online_demo_scan_Barcode.aspx ====================================*/
/*ct-top*/
#scanBarcode { width: 980px; margin: 0 auto; }
#scanBarcode .ct-top { padding: 0 0 15px; }
#scanBarcode .ct-top .title { font-size: 18px; line-height: 27px; color: #444; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; }
#scanBarcode .ct-top .desc { margin: 0 15px 0 30px; font-size: 14px; line-height: 24px; color: #aaa; }
/*ct-lt*/
.ct-lt { float: left; width: 642px; }
#dwtcontrolContainer .dynamsoft-dwt-container-box > div { border: none !important; }
.imageBox { position: relative; overflow: visible; height: 480px; border: 1px solid #ddd; background-color: #fff; }
.imageBox .image-container { width: 100%; height: 429px; }
.image-container * { box-sizing: content-box; }
.image-toolbar { height: 49px; background-color: #f5f5f5; position: relative; }
/*.image-toolbar .image-toolbar-left{ position:absolute; left:20px; top:12px;}
.image-toolbar .image-toolbar-left img{ margin-left:12px; width:32px; height:32px;}
.image-toolbar .image-toolbar-left img:first-child{ margin-left:0; }*/
.image-toolbar .image-toolbar-middle { text-align: center; padding-top: 12px; }
.image-toolbar .image-toolbar-middle button { width: 25px; height: 20px; font-family: Arial, sans-serif, Verdana, Helvetica; color: #999; margin-left: 10px; font-size: 14px; font-weight: bolder; background-color: transparent; border: 1px solid #aaa; }
.image-toolbar .image-toolbar-middle button:hover { color: #fff; background-color: #ffae38; border-color: #ffae38; }
.image-toolbar .image-toolbar-middle button[disabled] { color: #ddd; background-color: transparent; border-color: #ddd; cursor: default; }
.image-toolbar .image-toolbar-middle span { margin-left: 10px; display: inline-block; *zoom:1;
*display:inline;
font-size: 14px; color: #606060; }
/*.image-toolbar .image-toolbar-right{ position:absolute; top:12px; right:20px;}
.image-toolbar .image-toolbar-right select { width:71px; height:26px;}*/
.image-toolbar .image-toolbar-right { position: absolute; right: 20px; top: 12px; }
.image-toolbar .image-toolbar-right img { margin-left: 12px; width: 32px; height: 32px; cursor: pointer; }
.image-toolbar .image-toolbar-right img:first-child { margin-left: 0; }
.messageTitle { margin: 5px 0 0; font-size: 14px; }
.messageBoxWrapper { position: relative; height: 155px; border: 1px solid #ddd; background-color: #fff; }
.messageBox { height: 100%; *height: 116px;
overflow-y: auto; line-height: 20px; padding: 20px 20px; word-wrap: break-word; word-break: break-all; /*line-height:24px;*/ font-size: 12px; }
.messageBox b { color: black; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; font-weight: normal; }
.messageClear { position: absolute; width: 120px; height: 28px; top: 10px; right: 10px; border-radius: 3px; border: 1px solid #ddd; background-color: #f5f5f5; outline: none; cursor: pointer; }
.messageClear:hover { background-color: white; }
/*ct-rt*/
.ct-rt { width: 315px; float: right; }
.ct-rt .title { padding-left: 20px; height: 37px; line-height: 36px; font-size: 14px; color: #444; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; border-bottom: 1px solid #ddd; background-color: #eee; }
.ct-rt .content { padding: 10px 20px 0; }
.ct-rt .content .lbl { font-size: 14px; line-height: 24px; }
.ct-rt .content select { padding-left: 3px; height: 26px; font-size: 12px; color: #606060; border: 1px solid #ddd; border-radius: 3px; outline: none; }
.scanBox { height: 265px; border: 1px solid #ddd; background-color: #fff; }
.scanBox .item-ss select { margin: 3px 3px 0 0; width: 250px; }
.scanBox .item-cbGrp { margin-top: 5px; }
.scanBox .item-cbGrp label { margin-left: 20px; font-size: 12px; /*font-family:Arial;*/ }
.scanBox .item-cbGrp label:first-child { margin-left: 0; }
.scanBox .item-cbGrp label input { margin: 0 2px 0 0; width: 16px; height: 16px; vertical-align: text-top; }
.scanBox .item-pt { margin-top: 5px; font-size: 14px; }
.scanBox .item-pt label { margin-left: 15px; font-size: 12px; /*font-family:Arial;*/ }
.scanBox .item-pt label:first-child { margin-left: 0; }
.scanBox .item-pt label input { margin: 0 2px 0 0; width: 16px; height: 16px; vertical-align: text-bottom; }
.scanBox .item-sr { margin-top: 10px; }
.scanBox .item-sr .lbl { display: inline-block; width: 80px; }
.scanBox .item-sr select { width: 100px; }
.scanBox .item-sr .resolutionWarn { width: 254px; font-size: 12px; line-height: 16px; color: #b34957; display: none; }
.scanBox .d-btn { display: block; margin: 15px auto 0; width: 92px; height:32px; line-height:28px; border-image-source:none; }
.barcodeBox { margin-top: 20px; height: 195px; border: 1px solid #ddd; background-color: #fff; }
.barcodeBox .item-bt label { font-size: 14px; }
.barcodeBox .item-bt label input { margin: 0 3px 0 0; width: 16px; height: 16px; vertical-align: text-bottom; }
.barcodeBox .item-bt .ldiv { margin-top: 5px; display: inline-block; *zoom:1;
*display:inline;
width: 150px; }
.barcodeBox .item-bt .rdiv { display: inline-block; *zoom:1;
*display:inline;
}
.barcodeBox .item-bt img { margin-left: 5px; }
.barcodeBox .d-btn { display: block; margin: 12px auto 0; width: 150px; height:32px; line-height:28px; outline:none; }
.barcodeBox .content button[disabled] { background: #f5f5f5; color: #ccc; border-color: #ddd; cursor: default; }
.browserSupInf { margin-top: 31px; height: 155px; font-size: 12px; line-height: 24px; padding: 25px 20px 0; background-color: #e7f2fd; color: #606060; border: 1px solid #ddd; }
.browserSupInf p { margin: 0; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; color: #444; }
#tooltip { border: 1px solid #CCC; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; background: url(blkTransparent.png) top left repeat; position: absolute; z-index: 9999; color: #fff; font-size: 11px; }
#tooltip .tipBody { background-color: #333; padding: 10px; opacity: 0.8; -moz-border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; border-radius: 6px 6px 6px 6px; line-height: 19px; }
#dwtcontrolContainer .barcodeInfoRect { position: absolute; z-index: 10; border: 1px solid red; }
#dwtcontrolContainer .barcodeInfoRect .spanContainer { position: absolute; left: 0px; top: -14px; color: blue; font-size: 12px; font-weight: bold;/*background-color:#fff;*/ }
/*fix dwt*/
div.ds-dialog-wrap, .ds-dialog-wrap * { box-sizing: content-box; }
pre.resultPre { display: inline; border: none; font-size: inherit; font-family: Arial, sans-serif, Verdana, Helvetica; background: transparent; white-space: pre-wrap; }
