* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { height: 100%; margin: 0; padding: 0; color: #606060; font-size: 16px; line-height: 26px; font-family: OpenSans-Regular, Arial, sans-serif, Verdana, Helvetica; }
body { margin: 0; padding: 20px 0; min-height: 100%; background: #f7f8fb; }
img { vertical-align: middle; border: 0; }
a { text-decoration: none; background-color: transparent; }
a.bluelink { color: #50a8e1; }
a.bluelink:hover { color: #61c2ec; }
.d-btn { display: inline-block; padding: 0 25px; height: 38px; line-height: 32px; color: #fe8e14; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; font-size: 14px; text-align: center; cursor: pointer; border: solid 2px #fe8e14; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -o-border-radius: 3px; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; outline: none; }
.d-btn:link, .d-btn:visited { color: #fe8e14; }
.d-btn:hover { color: #ffae38; border: solid 2px #ffae38; }
.d-btn.lgBtn { height: 46px; line-height: 40px; }
.d-btn.mdBtn { height: 42px; line-height: 36px; }
.d-btn.smBtn { height: 38px; line-height: 32px; }
.d-btn.brBlue { border-color: #50a8e1; background: none; color: #50a8e1; }
.d-btn.brBlue:hover { border-color: #5bbfff; color: #5bbfff; }
.d-btn.bgOrange { background: #fe8e14; color: #fff; }
.d-btn.bgOrange:hover { background: #ffae38; }
.d-btn.bgBlue { border-color: #50a8e1; background: #50a8e1; color: #fff; }
.d-btn.bgBlue:hover { border-color: #61c2ec; background: #61c2ec; }
.d-btn.bgGray { background: #f5f5f5; border-color: #ddd; color: #606060; }
.d-btn.bgGray:hover { background: #fff; }
/*======================================= online_demo_webcam.aspx =======================================*/
#ocrPDFDemo { width: 980px; margin: 0 auto; }
#ocrPDFDemo .ct-top { padding: 0 0 15px; }
#ocrPDFDemo .ct-top .title { font-size: 18px; line-height: 27px; color: #444; font-family: OpenSans-Semibold, Arial, sans-serif, Verdana, Helvetica; }
#ocrPDFDemo .ct-top .desc { margin: 0 15px 0 30px; font-size: 14px; line-height: 24px; color: #aaa; }
#ocrPDFDemo .mainContent { padding: 45px 70px 30px 80px; border: 1px solid #ccc; background: #fff; }
#ocrPDFDemo .mainContent .lbl { margin: 0 0 6px; font-size: 14px; line-height: 24px; color: #444; }
#ocrPDFDemo .mainContent select, #divLblFindTXT .lt input { padding-left: 5px; width: 208px; height: 36px; font-size: 15px; color: #777; border: 1px solid #ccc; border-radius: 3px; outline: none; }
#ocrPDFDemo .mainContent .item { margin-bottom: 20px; }
#ocrPDFDemo .mainContent .item:last-child { margin-top: 30px; }
#ocrPDFDemo .mainContent .item:last-child .serverSideLink { margin-top: 30px; margin-bottom:0;}
#ocrPDFDemo .mainContent .item:after { display: table; content: ''; clear: both; }
#ocrPDFDemo .mainContent .item .lt { width: 340px; float: left; }
#ocrPDFDemo .mainContent .item .ct { float: left; margin: 0 30px; }
#ocrPDFDemo .mainContent .item .rt { float: left; }
#ocrPDFDemo .mainContent .lt select { width: 340px; }
#ocrPDFDemo .mainContent #divLblFindTXT { margin-bottom: 30px; }
#divLblFindTXT .lt input { width: 340px; }
#divIfUseRedaction label { cursor: pointer; font-size: 14px; }
#divIfUseRedaction input[type='checkbox'] { margin: 0 2px 0 0; position: relative; top: 3px; width: 15px; height: 15px; }
