.D-dailog .D-dailog-body-Recognition {
    width: 225px;
    height: 250px;
    position: relative;
    top: 5px;
    left: 5px;
    margin: 0;
    background-color: #ffffff;
    border: 1px solid #E7E7E7;
    padding: 15px;
}

#main .main-pannel {
    background: #fff;
    margin: 0 auto;
    height: 640px;
    width: 980px;
    margin-top: 70px;
}

.ks-overlay {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.ks-ext-close {
    padding: 0 20px;
    position: absolute;
    right: -5px;
    top: 5px;
}

    .ks-ext-close, .ks-ext-close:link {
        color: #2222AA;
        text-decoration: none;
        cursor: pointer;
    }

.ks-ext-mask {
    background: #999;
    filter: alpha(opacity=70); /* IE */
    -moz-opacity: 0.7; /* Moz + FF */
    opacity: 0.7; /* CSS3 e.g. FF 1.5 */
}

.D-dailog .ks-ext-close .ks-ext-close-x {
    height: 8px;
}

.D-dailog .ks-ext-close, .D-dailog .ks-ext-close:hover {
    background: none;
    border: none;
}

.D-dailog {
    position: absolute;
    left: -9999px;
    top: -99999px;
    margin: 100px auto;
    padding: 0;
    width: 392px;
    height: 242px;
    background-color: #F1F2F2;
}

    .D-dailog .D-dailog-body {
        width: 360px;
        height: 340px;
        position: relative;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7; /* padding: 15px;*/
    }

    .D-dailog .D-dailog-body-error {
        width: 360px;
        height: 300px;
        position: relative;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7; /* padding: 15px;*/
    }

    .D-dailog .D-dailog-body-Recognition {
        width: 225px;
        height: 250px;
        position: relative;
        top: 5px;
        left: 5px;
        margin: 0;
        background-color: #ffffff;
        border: 1px solid #E7E7E7;
        padding: 15px;
    }

.SuccessLogo {
    background: url('Images/success.png');
    width: 80px;
    height: 80px;
    position: absolute;
    top: 70px;
    left: 140px;
}

.ErrorLogo {
    background: url('Images/error.png');
    width: 80px;
    height: 80px;
    position: absolute;
    top: 70px;
    left: 140px;
}

.dwt-button {
    background-image: url('Images/btn-download.png');
    background-repeat: no-repeat;
    width: 225px;
    height: 47px;
    position: relative;
    margin: 20px auto 0;
    cursor: pointer;
}

    .dwt-button:hover {
        background-position: 0 -47px;
    }

    .dwt-button:active {
        background-position: 0 -47px;
    }

.dwt-button {
    background-image: url('Images/btn-download.png');
    background-repeat: no-repeat;
    width: 225px;
    height: 47px;
    position: relative;
    margin: 20px auto 0;
    cursor: pointer;
}

.ClosetblCanNotScan {
    background: url('Images/Shape-24-copy.png');
    color: #222222;
    height: 12px;
    width: 12px;
    text-decoration: underline;
    display: inline-block;
    float: right;
    margin-top: 9px;
    margin-right: 20px;
}

    .ClosetblCanNotScan:hover {
        background-position: 0 -12px;
    }

    .ClosetblCanNotScan:active {
        background-position: 0 -12px;
    }

.dwt-box-title {
    font-size: 16px;
    clear: both;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
	word-wrap: break-word;
}

.round {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.ErrorLogo {
    background: url('Images/error.png');
    width: 80px;
    height: 80px;
    position: absolute;
    top: 70px;
    left: 140px;
}
